@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap');

* {
    
}

    

body {
    height: 100vh;
    background: url('/assets/images/background-image.jpeg')no-repeat, center;
    background-size: cover;
    font-family: Raleway, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.game-area {
    width: 70%;
    height: 50%;
    min-height: 400px;
    background-color: rgba(220, 241, 250, 0.9); 
    border-radius: 10px;

}

#question{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;

}

.answer-area {
    margin-bottom: 30px;
    height: 30%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }
  .choice-container{
    width: 40%;
    margin: 10px;
    font-size: 10px;
    display: inline-block;
    background: white;
  }

  .choice-container:hover {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
  }

  #score-area{
    margin: auto;
    text-align: center;
  }

  #count-area{
      margin: auto;
      text-align: center;
  }

  
  .choice-text{
    width: 75%;
  }
  #button-div{
    display: flex;
    justify-content: flex-end;
  }

#modalbtn {
  background: none;
  font-size: 25px;
  margin: 15px;
  border: none;
  color: black;
  position: relative;
  text-align: right;
}

.button:hover{
  cursor: pointer;
}

/* The Modal (background) */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 40px;
  border: 1px solid #888;
  width: 70%; 
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}