@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap');


body {
    height: 100vh;
    background: url('../images/background-image.jpeg')no-repeat, center;
    background-size: cover;
    font-family: Raleway, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center; 
}

/* HOME PAGE*/
.welcome-area {
  width: 70%;
  height: 50%;
  min-height: 400px;
  background-color: rgba(220, 241, 250, 0.9); 
  border-radius: 10px;
}

.welcome-area h1, .welcome-area h3, .welcome-area h4, .welcome-area p, .welcome-area a  {
width: 100%;
display: flex;
align-items: center;
justify-content: center;
padding-top: 20px;
}

/*PLAY BUTTON*/
#home-button{
  width: 300px;
  height: 65px;
  font-size: 16px;
  background-color: #fef6cc;
  border: none;
  border-radius: 15px;
  text-decoration: none;
}

button a{
 text-decoration: none;
}

button:hover {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
}

/*GAME AREA*/
.game-area {
  width: 70%;
  height: 50%;
  min-height: 400px;
  background-color: rgba(220, 241, 250, 0.9); 
  border-radius: 10px;
}

.game-area h1, h3, h4,  {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5px
}

.game-area  p, a {
width: 100%;
display: flex;
align-items: center;
justify-content: flex-start;
padding: 5px;
}

#question{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

/* THE ANSWER BUTTONS*/
.answer-area {
  margin-bottom: 30px;
  height: 30%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.choice-container{
  width: 40%;
  margin: 10px;
  font-size: 12px;
  padding-left: 10px;
  display: inline-block;
  background: white;
}

.choice-text{
  width: 75%;
}

.choice-container:hover {
   box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
}

/* SCORE & QUESTION COUNT*/
#score-area{
  margin: auto;
  text-align: center;
}

#count-area{
  margin: auto;
  text-align: center;
}

/* HOW TO PLAY BUTTON AREA*/
#button-div{
  display: flex;
  justify-content: flex-end;
}


/*MODALS*/  
#modalbtn {
  background: none;
  font-size: 25px;
  margin: 15px;
  border: none;
  color: black;
  position: relative;
  text-align: right;
}

.button:hover{
  cursor: pointer;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 40px;
  border: 1px solid #888;
  width: 70%; 
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*RESULTS MODAL*/
.resultsModal {
  display: none; 
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.results-modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 40px;
  width: 70%; 
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.results-modal-content h3 {
  text-align: center;
}

.results-modal-content h4 {
  text-align: center;
}

.results-modal-content div {
  margin: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
}

#play-again-button-div{
  width:100%;
}

#play-again-button{
  width: 300px;
  height: 65px;
  font-size: 16px;
  background-color: #fef6cc;
  border: none;
  border-radius: 15px;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

/*404 PAGE*/
.e404-area {
  width: 70%;
  height: 50%;
  min-height: 400px;
  background-color: rgba(220, 241, 250, 0.9); 
  border-radius: 10px;
}

.e404-area h1  {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.e404-area h3  {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.e404-area p  {
  width: 100%;
  text-align: center;
  display: inline-block;
  padding-top: 20px;
}

.e404-area a  {
  text-align: center;
  display: inline-block;
  padding-top: 20px;
}

  /*MEDIA QUIRIES*/
 /*Screens smaller than 1200px*/
 @media only screen and (max-width: 1200px) {
  .game-area{
    width: 80%;
    height: 80%;
    min-height: 450px;
  }
  .choice-container{
    width: 65%;
    max-height: 80px;
    margin: 10px;
  }

  .answer-area{
    margin: 20px;
  }

  #score-area{
    padding: 20px;
  }

 }
  /*Screens smaller than 700px*/
@media only screen and (max-width: 700px) {

.game-area{
  width: 90%;
  height: 90%;
  min-height: 450px;
}

#modalbtn {
  height: 30px;
  margin: 5px;
}

#button-div{
  height: 30px;
}

#question{
  font-size: 20px;
}
  .choice-container{
    width: 75%;
    max-height: 50px;
    margin: 10px;
    display: block;
  }

  .answer-area{
    min-height: 350px;
    max-width: 90%;
  }

  #score-area {
    margin: 5px;
    padding: 5px;
  }

 
}

